# Ignore specific files

Trip Planner Output.mp4
Trip Planner Araku.pdf
Trip Planner Output.pdf
main2.py
main_flask.py
chat.html
chatbotimg.png
style.css
C:\Users\mohit_zwsxi5o\Desktop\Mohit\Trip Planner\templates\chat.html
# Ignore all files with a specific extension
*.log
*.env
*.mp4
*.pdf
*.pyc
static /
templates /
__pycache__ /

