# Ignore specific files

Trip Planner Output.mp4
Trip Planner Araku.pdf
Trip Planner Output.pdf
main2.py
main_flask.py
chat.html
chatbotimg.png
style.css
\main3.py
main2.py
main_flask.py
try.py
# Ignore all files with a specific extension
*.log
*.env
*.mp4
*.pdf
*.pyc

/__pycache__/

