crewai
dotenv
textwrap
langchain_groq
tools_created.search_tools
tools_created.calculator_tools
langchain_google_genai.chat_models
os
deep_translator
langdetect
markdownify
main_helper
markupsafe
markdown
re 