<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
	</head>
	
	
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-12 col-xl-8 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<!-- <img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img"> -->
									<img src="https://cdn.pfizer.com/pfizercom/screen_shot_2020-02-20_at_1.06.10_pm.png" alt="Chatbot icon or description of the image">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Medical Chatbot</span>
									<p>Ask me anything!</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							
							
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group" enctype="multipart/form-data">
								<!-- Upload button -->
								<label for="imageUpload" class="input-group-text upload_icon"><i class="fas fa-paperclip"></i></label>
								<input type="file" id="imageUpload" name="image" class="form-control-file" accept="image/*" style="display: none;">
								
								<!-- Message input -->
								<input type="text" id="text" name="msg" placeholder="Message" class="form-control message_input" autocomplete="off"/>
								
								<!-- Send button -->
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-arrow-up"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function() {
				$("#messageArea").on("submit", function(event) {
					event.preventDefault();
    
    				const formData = new FormData();
    				const textInput = $("#text").val();
    				const imageInput = $("#imageUpload")[0].files[0];
    
    				// Append text and image (if present) to the form data
    				formData.append("msg", textInput);
    				if (imageInput) {
    				    formData.append("image", imageInput);
    				}

    				// Clear the input field
    				$("#text").val("");
    				$("#imageUpload").val(null);
    
    				// Display user input in chat
    				const userHtml = `<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">${textInput}</div></div>`;
    				$("#messageFormeight").append(userHtml);

    				// Send AJAX request with form data (text and image)
    				$.ajax({
       					url: "/chat",
        				type: "POST",
        				data: formData,
        				processData: false,
        				contentType: false,
        				success: function(response) {
        					// Append the bot's response as HTML (to support image rendering)
        					const botHtml = `<div class="d-flex justify-content-start mb-4"><div class="msg_cotainer">${response.response}</div></div>`;
        					$("#messageFormeight").append(botHtml);
        				},
    				});
				});

			});
		</script>
        
    </body>
</html>